<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Apis-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <!--Charts.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <title>MODALITY PORTAL | Anzor</title>
</head>

<body>

  <div class="container">
    <!-- Sidebar Section -->
    <aside>
      <div class="toggle">
          <div class="logo">
            <h2>Modality<span class="danger">XPortal</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
      </div>

      <div class ="sidebar">
        <a href="#">
          <span class="material-icons-sharp">dashboard</span>
          <h3>Modality LLP</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">person_outline</span>
          <h3>My Portal</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">receipt_long</span>
          <h3>Rotas</h3>
        </a>
        <a href="#" class="active">
          <span class="material-icons-sharp">insights</span>
          <h3>Staff Page</h3>
        </a>
        <a href="#">
            <span class="material-icons-sharp">mail_outline</span>
            <h3>Messages</h3>
            <span class="message-count">28</span>
          </a>
          <a href="#">
            <span class="material-icons-sharp">inventory</span>
            <h3>My Learning</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">report_gmailerrorred</span>
            <h3>Reports</h3>
          </a>
          <a href="#">
            <span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
          </a>
        <a href="#">
          <span class="material-icons-sharp">add</span>
          <h3>New Login</h3>
        </a>
        <a href="#">
          <span class="material-icons-sharp">logout</span>
          <h3>Logout</h3>
        </a>
      </div>
    </aside>
    <!-- End of Sidebar -->

    <!-- Main Content -->
    <main>
      <h1 class="text-center"> Staff Page</h1>
      <!-- Analyses -->
      <div class="analyse">
      <!--Line Charts-->
        <div class="sales">
          <div class="card-body">
              <h5 class="card-title text-primary">Modality Lyndon House News</h5>
              <h6 class="card-subtitle mb-2 text-muted">Updated Today 11:12 AM</h6>
              <div class="text">
                <img src="{% static 'assets/images/goodnews.jpeg' %}" alt="user">
              </div>
              <!--<h1 class="card-text text-end">8,942,000</h1>-->
          </div>
          <div class="card-body my-5">
            <h5 class="card-title text-primary">Modality Clinic News</h5>
            <h6 class="card-subtitle mb-2 text-muted">Updated 3 days</h6>
            <div class="my-2">
                <img src="{% static 'assets/images/research.jpeg' %}" alt="user">
                
            </div>
            <h1 class="card-text text-end"></h1>
        </div>
        </div>
      <!-- Pie Chart-->
        <div class="sales">
          <div class="card-body">
              <h5 class="card-title text-primary">Modality Services</h5>
              <h6 class="card-subtitle mb-2 text-muted">All Departments</h6>
              <div>
                  <canvas id="total-views-chart"></canvas>
              </div>
              <h1 class="card-text text-end">474 Members</h1>
          </div>
        </div>
          <div class="info">
              <div class="info">
                  <div class="info">
                      <h1>Something else here</h1>
                      <div class="text container-fluid" style="text-align: justify; text-align-last: justify;">
                        <img src="{% static 'assets/images/video.jpeg' %}" alt="user">
                      </div>
                      <h1>Something here as well</h1>
                  </div>
              </div>
          </div>
          <div class="visits">
              <div class="status">
                  <div class="info">
                      <h3>PPC Rota</h3>
                      <h1>April</h1>
                  </div>
                  <div class="progresss">
                      <svg>
                          <circle cx="38" cy="38" r="36"></circle>
                      </svg>
                      <div class="percentage">
                          <p>pending</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="searches">
              <div class="status">
                  <div class="info">
                      <h3>HCA Rota</h3>
                      <h1>April</h1>
                  </div>
                  <div class="progresss">
                      <svg>
                          <circle cx="38" cy="38" r="36"></circle>
                      </svg>
                      <div class="percentage">
                          <p>updated</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="searches">
            <div>
                <div class="info ">
                    <h3 class="text-center">Magic</h3>
                    <h1 class="text-center">Click</h1>
                </div>
            </div>
        </div>
      </div>
      <!-- End of Analyses -->
      <!-- New Users -->
      <div class="new-users">
        <h2>Top Users</h2>
          <div class="user-list">
            <div class="user">
              <img src="{% static 'assets/images/amirah.jpeg' %}" alt="user">
              <h2>Amirah</h2>
              <p>Online 54 Min Ago</p>
            </div>
            <div class="user">
              <img src="{% static 'assets/images/profile-3.jpg' %}" alt="user">
              <h2>Jaffar</h2>
              <p>Online 11 Min Ago</p>
            </div>
            <div class="user">
              <img src="{% static 'assets/images/profile-4.jpg' %}" alt="user">
              <h2>Wiktoria</h2>
              <p>Online 6 Hours Ago</p>
            </div>
            <div class="user">
              <img src="{% static 'assets/images/plus.png' %}" alt="user">
              <h2>More</h2>
              <p>New User</p>
            </div>
          </div>
      </div>
      <!-- End of New Users -->
      <!-- Recent Orders Table -->
      <div class="recent-orders">
        <h2>Internal vacancies</h2>
        <table>
            <thead>
                <tr>
                    <th>Vacancie</th>
                    <th>Referrence Number</th>
                    <th>Salary</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#">Show All</a>
    </div>
  </main>
    <!-- End of Recent Orders -->
   <!-- Right Section -->
   <div class="right-section">
    <div class="nav">
        <button id="menu-btn">
            <span class="material-icons-sharp">
                menu
            </span>
        </button>
        <div class="dark-mode">
            <span class="material-icons-sharp active">
                light_mode
            </span>
            <span class="material-icons-sharp">
                dark_mode
            </span>
        </div>

        <div class="profile">
          <div class="info">
              <p>Hey, <b>Sapna</b></p>
              <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
              <img src="{% static 'assets/images/profile-1.jpg' %}">
          </div>
      </div>

  </div>
  <!-- End of Nav -->
  <div class="user-profile">
    <div class="logo">
        <img src="{% static 'assets/images/modality.jpeg' %}">
        <h2>Training Hub</h2>
        <p>Last visit 7h ago</p>
    </div>
</div>

<div class="reminders">
    <div class="header">
        <h2>Reminders</h2>
        <span class="material-icons-sharp">
            notifications_none
        </span>
    </div>

    <div class="notification">
        <div class="icon">
            <span class="material-icons-sharp">
                edit
            </span>
        </div>
        <div class="content">
            <div class="info">
                <h3>Wellbeing Wednesday</h3>
                <small class="text_muted">
                    Wednesday 18 April (Lyndon House)
                    13:00 PM - 15:00 PM
                </small>
            </div>
            <span class="material-icons-sharp">
                more_vert
            </span>
        </div>
    </div>

    <div class="notification deactive">
      <div class="icon">
          <span class="material-icons-sharp">
              edit
          </span>
      </div>
      <div class="content">
          <div class="info">
              <h3>Excel Workshop</h3>
              <small class="text_muted">
                  Monday 16 April (Virtual)<br>
                  08:00 AM - 12:00 PM
              </small>
          </div>
          <span class="material-icons-sharp">
              more_vert
          </span>
      </div>
    </div>

  <div class="notification add-reminder">
      <div>
          <span class="material-icons-sharp">
              add
          </span>
          <h3>Add Reminder</h3>
      </div>
  </div>

</div>

</div>


</div>
  <script src="{% static 'assets/js/orders.js' %}"></script>
  <script src="{% static 'assets/js/index.js' %}"></script>

</body>

</html>